<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/main.css">
</head>
<body>
    <div class="container">
        <form class="form" action="/login" method="POST">
            <h1>Welcome, bro!</h1>
            <input class="input" type="text" name="username" placeholder="username" required>
            <input class="input" type="password" name="password" placeholder="password" required>
            <div class="buttons">
                <button class="login-btn" type="submit">Log in</button>
                <a class="btn" href="/registration">signup</a>
            </div>
        </form>
    </div>
</body>
</html>